version: 2
updates:
  # Python (pip/pyproject)
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      all-pip:
        patterns: ["*"]
  - package-ecosystem: "pip"
    directory: "/docs"
    schedule:
      interval: "weekly"
    groups:
      docs:
        patterns: ["*"]

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      gha:
        patterns: ["*"]

  # Docker
  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      docker:
        patterns: ["*"]
